<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      /* Emails should have all the CSS inline. Add them here! */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
