--load ./.yard/config.rb
--template-path ./.yard/zee
--markup markdown
--markup-provider zee
--private
--hide-api private
--no-api private
--exclude generators
--verbose
--output-dir doc
--readme README.md
'lib/**/*.rb' - CHANGELOG.md CODE_OF_CONDUCT.md LICENSE.md CONTRIBUTING.md PLUGINS.md
